<%- include('partials/head.ejs') %>
</head>
<body>
    <%- include('partials/navigation.ejs') %>
    
    <main>
        <h1>Something went terribly wrong</h1>
        <img src="https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2Fi.ytimg.com%2Fvi%2FPKffm2uI4dk%2Fmaxresdefault.jpg&f=1" />
    </main>
<%- include('partials/end.ejs') %>
